{{- if .Values.mysql.internal.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "kubepolaris.fullname" . }}-mysql
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubepolaris.mysql.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
  - port: 3306
    targetPort: mysql
    protocol: TCP
    name: mysql
  selector:
    {{- include "kubepolaris.mysql.selectorLabels" . | nindent 4 }}
{{- end }}
