{{- if not .Values.security.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kubepolaris.fullname" . }}-secrets
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubepolaris.labels" . | nindent 4 }}
type: Opaque
stringData:
  jwt-secret: {{ .Values.security.jwtSecret | required "security.jwtSecret is required" | quote }}
{{- end }}
---
{{- if and .Values.mysql.internal.enabled (not .Values.mysql.internal.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kubepolaris.fullname" . }}-mysql
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubepolaris.mysql.labels" . | nindent 4 }}
type: Opaque
stringData:
  mysql-root-password: {{ .Values.mysql.internal.rootPassword | default (randAlphaNum 16) | quote }}
  mysql-password: {{ .Values.mysql.internal.password | default (randAlphaNum 16) | quote }}
{{- end }}
---
{{- if and .Values.grafana.enabled (not .Values.grafana.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kubepolaris.fullname" . }}-grafana
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubepolaris.labels" . | nindent 4 }}
    app.kubernetes.io/component: grafana
type: Opaque
stringData:
  grafana-admin-password: {{ .Values.grafana.adminPassword | default (randAlphaNum 16) | quote }}
{{- end }}
